/* resets */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* main styles */

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 464px;
}

.container__display {
    text-align: right;
    font-size: 32px;
}

.container__buttons {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container__buttons__group {
    display: flex;
    gap: 4px;
}

.container__buttons__group button {
    flex: 1;
    border-radius: 44px;
    font-size: 32px;
}